.write {
  margin-bottom: 10rem;
}
.write__container {
  display: flex;
  align-items: start;
  gap: 10px;
}
.write__title {
}
.write__form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .input-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
.write__input {
  padding: 1.8rem 2rem;
  width: 100%;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.write__textarea {
  transition: 0s;
  padding: 1.8rem 2rem;
  width: 100%;
  max-width: 696px;
  min-height: 180px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.write__btn {
  margin-left: auto;
  background-color: $primary-color;
}

.write__addess {
  width: 100%;
  max-width: 494px;
  height: auto;
  padding: 2rem 2.5rem;
  border-radius: 10px;
  background-color: $primary-bg;
}
.write__address__list {
}
.write__address__item {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #d2d2d2;

  &:nth-child(3) {
    border: none;
  }
}
.write__address__item__key {
  color: #000;
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0.7rem;
}
.write__address__item__value {
}
